#map {
    height: 100%;
}

ion-content {
    position: relative;
}

ion-fab {
    bottom: 210px;
}

.white {
    color: white;
}

ion-bottom-sheet {
    color: black;
}

ion-toolbar {
    --background: #F2E4E5;
}

ion-title {
    color: black;
}

.separator {
    box-shadow: 1px 1px 1px black;
}