<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button></ion-back-button></ion-buttons>
    <ion-title *ngIf="this.recipeDisplay || async">{{this.recipeDisplay.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">

  <ion-img  *ngIf="this.recipeDisplay || async" src={{this.recipeDisplay.srcPic}}></ion-img>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="ingredients">Ingrédients</ion-segment-button>
    <ion-segment-button value="recipe">Recette</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isDisplayingIngredients">
    <div *ngFor="let ingredient of arrayIngredients; let index = index; let isFirst = first; let isOdd = odd;">
    <ion-row *ngIf="!isOdd">
      <ion-col>
        <ion-img  src={{ingredient.srcPic}}></ion-img>
        <span *ngIf="this.recipeDisplay || async">{{this.arrayAmount[index]}} g</span>
      </ion-col>
      <ion-col >
        <ion-img *ngIf="arrayIngredients[index+1] " src={{arrayIngredients[index+1].srcPic}}></ion-img>
        <span *ngIf="arrayIngredients[index+1] && this.recipeDisplay || async">{{this.arrayAmount[index+1]}} g</span>
      </ion-col>
    </ion-row>
  </div>
    </ion-grid>
    <div *ngIf="!isDisplayingIngredients" class="center">
      <div  *ngFor="let step of arraySteps;  let index = index;" class="display-steps"><span>{{index}} -- {{step}}</span><br></div>
    </div>
    
  
 
</ion-content>

<ion-toolbar>
  
</ion-toolbar>

  



